<div class="home-container">
  <ngx-particles
  [id]="id"
  [options]="particlesOptions"
  (particlesLoaded)="particlesLoaded($event)"
></ngx-particles>
    <!-- Section gauche : Logo et nom de l'application -->
    <div class="left-section">
      <div class="card">
        <img src="/assets/logo_app.png" alt="Poker Ranger Logo" class="logo-home" />
        <h1 class="app-title">Poker Ranger</h1>
        <button class="logout-button" (click)="logout()">
          <span class="logout-button-text">Se déconnecter</span>
          <span class="material-symbols-outlined">logout</span>
        </button>
        <button class="install-button" (click)="installPwa()">
          <span class="install-button-text">Installer l'application</span>
          <span class="material-symbols-outlined">get_app</span>
        </button>
      </div>
    </div>
    
    <!-- Section droite : Cartes de navigation -->
    <div class="right-section">
      <!-- Carte "Mes ranges" -->
      <div class="card" (click)="goToRanges()">
        <span class="material-symbols-outlined icon">edit_square</span>
        <h2 class="card-title">Mes ranges</h2>
      </div>
      
      <!-- Carte "Lancer un quiz" -->
      <div class="card" (click)="goToQuiz()">
        <span class="material-symbols-outlined icon">quiz</span>
        <h2 class="card-title">Lancer un quiz</h2>
      </div>
    </div>
  </div>